{#<ul class="categories">#}
    {#{% for category in categoriesList %}#}
    {#<li><a class="active" href="{{ path('blog_category', {'slug': category.slug}) }}">{{ category.name }}</a></li>#}
    {#{% endfor %}#}
{#</ul>#}